* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.gesture-block {
  all: unset;
  background-color: rgba(33, 40, 52, 0);
}

.drawer-tab {
  all: unset;
  min-width: 20px;
  min-height: 70px;
  background-color: rgba(36, 36, 36, 0.6);
  border-radius: 8px 0px 0px 8px;
}

.tab-nudge {
  all: unset;
  min-width: 20px;
  min-height: 22px;
  color: #cccccc;
  font-size: 10px;
  background-color: rgba(36, 36, 36, 0.6);
}

.drawer {
  all: unset;
  background-color: #242424;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px 0px 0px 15px;
  min-width: 260px;
  min-height: 420px;
  font-family: Sans;
  font-size: 13px;
}

.drawer-search {
  all: unset;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #ffffff;
}

.drawer-entry {
  all: unset;
  border-radius: 10px;
  background-color: #2c2c2c;
}

.drawer-entry:hover {
  all: unset;
  border-radius: 10px;
  background-color: #3584e4;
}

.drawer-entry:active {
  all: unset;
  border-radius: 10px;
  background-color: #1c5eb0;
}

.drawer-entry-content {
  all: unset;
  padding: 14px 12px;
}

.drawer-tabbar {
  all: unset;
  margin-top: 10px;
}

.drawer-tab-button {
  all: unset;
  padding: 10px;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #aaaaaa;
}

.drawer-tab-button-active {
  all: unset;
  padding: 10px;
  border-radius: 10px;
  background-color: #3584e4;
  color: #ffffff;
}

.action-button {
  all: unset;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #ffffff;
}

.action-button:hover {
  all: unset;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #3584e4;
  color: #ffffff;
}

.action-button:active {
  all: unset;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #1c5eb0;
  color: #ffffff;
}

.menu {
  all: unset;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 25px;
  border: 5px solid black;
  border-radius: 10px;
}

.menu-wrapper {
  all: unset;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 10px;
  padding-left: 10px;
}

.button {
  all: unset;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 18px;
}
